:root{
    --color-fundo: #1ca487;
    --cor-letras: white;
}
.sabores-titulos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.todos-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}
.all-card{
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.all-card .letras-maiores strong{
    font-size: 20px;
}

.letras-vermelhas{
    color: red;
    margin-bottom: 0px;
}
#sobre-nos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1ca48728;
}
.sobre-esq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    padding: 20px 30px;
    text-align: center;
}
.sobre-dir{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}
.sobre-dir img{
    max-width: 500px;
    border-radius: 30px;
}