*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
.center-header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: #135f0d;
    
}

.logo{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #135f0d;
}

.center-header .lista-header{
    display: flex;
    align-items: center;
}

.center-header .lista-header ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: 500;
    font-size: 20px;
    margin: 0px;
}

.lista-header ul a{
    text-decoration: none;
    color:#135f0d ; 
}
.lista-header ul a:hover{
    text-decoration: none;
    color: #257e1a; 
}

.botao-header{
    display: flex;
    align-items: center;
}
.botao{
    display: flex;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: white; 
    border: solid 1px #135f0d;
    color: #135f0d;
} 
.botao:hover{
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #135f0d; 
    border: solid 1px white;
    color: white;
}
main{
    width: 80%;
    color: #135f0d;
}
.home{
    display: flex;
    justify-content: center;
    color:#135f0d;
}
.center-home{
    display: flex;
}
.lado-esquerdo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 1.3rem;
}
.lado-esquerdo h2{
    margin: 20px 0px;
}
.lado-esquerdo button{
    background-color: rgb(255, 166, 0);
    border: none;
    height: 35px;
    color: #135f0d;
    font-weight: 500;
    font-size: 20px;
    border: solid 1px #135f0d;
    border-radius: 
    20px;
    height: 40px;
}
.lado-esquerdo button:hover{
    color: #135f0d;
    border: solid 1px #135f0d;
    font-size: 20px;
    border: none;
}
.lado-direito{
    width: 50%;
}
.center-vantagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    gap: 30px;
    padding: 20px 0px;
}
.cards-vantagens{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.cards-vantagens .card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 300px;
    border: solid 1px rgb(168, 168, 168);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    border-bottom: 5px solid #135f0d;
    color: #135f0d;
}
.card img{
    margin: 0px auto;
}
.center-perguntas{
    margin: 0px auto;
}
.titulo-perguntas{
    width: 100%;
    text-align: center;
}
.todas-perguntas{
    width: 50%;
}
.img-perguntas{
    width: 50%;
}